* {
    margin: 0;
    padding: 0;
}
/* 定义关键帧 */
@keyframes run {
    0%{
        left: 0;
        top: 0;
        background-color: red;
    }
    25%{
        left: 100px;
        top: 0px;
        background-color: green;
    }
    50%{left: 100px;
        top: 100px;
        background-color: aliceblue;
    }
    75%{
        left: 0px;
        top: 100px;
        background-color: aqua;
    }
    100%{
        left: 0;
        top: 0;
    }
}
/* from == 0%;  to == 100% */
@keyframes run1{
    from{
        left: 0;
        top: 0;
    }
    to {
        left:100px;
        top: 200px;
    }
}

@keyframes color-change {
    0%{
        background-color: red;
    }
    60% {
        background-color: blue;
    }
    100% {
        background-color: black;
    }
}

div {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    animation: run 4s, color-change 4s;
}
