* {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.item {
    flex: 1 1 auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #f40;
    border-radius: 5px;
}

.item:hover {
    background-color: #f20;
    color: #fff;
}


