* {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    /* flex-wrap默认值: nowrap */
    /* flex-wrap: wrap; */

    /* align-content > align-self > align-items */
    /* align-items: flex-start; */
    /* justify-content: center; */

}

.content {
    /* felx-grow 将剩下的区域按比例分配 */
    /* flex-grow: 1; */
    /* flex-basis: 300px; */
    flex-shrink: 1;
    width: 200px;
    height: 100px;
    background: red;
    /* border: 1px solid green; */
    box-sizing: border-box;
}
/* .content:first-of-type{
    flex-grow: 1;
    
} */
.content:nth-of-type(3) {
    width: 400px;
    flex-shrink: 3;
}