* {
    margin: 0;
    padding: 0;
}
/* body {
    background-color: #000;
} */

div {
    position: absolute;
    left: calc(50% - 250px);
    top: 100px;
    height: 300px;
    width: 500px;
    font-size: 80px;
    font-weight: bold;
    color: transparent;
    font-family: simsun;
    -webkit-text-stroke: 1px red;
    
}

/* div:hover {
    text-shadow: 10px -10px 10px #f00,
    10px 10px 10px #ff0,
    -10px 20px 10px #f0f,
    -10px -30px 10px #00f;
    transition: all 1s;
} */

/* div {
    position: absolute;
    left: calc(50% - 250px);
    top: 100px;
    height: 300px;
    width: 500px;
    font-size: 80px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: -600px -50px;
    background-image: url(img/mayun.jpg);
    background-size: contain;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s;
    text-shadow: -5px -5px 3px rgba(255, 0, 255, .1),
    5px 5px 3px rgba(0, 255, 255, .2)
}

div:hover {
    background-position: 0 -50px;
} */